:root{
    --primary-clr: blue;
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.action-buttons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;
  }
  .action-buttons button {
    margin-right: 10px;
    margin-left: 10px; 
  }
  
.navbar{
    height: 100vh;
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
}
.logo{
    font-size: 1.1em;
    font-weight: bold;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-links a{
    display: flex;
    flex-direction: column;
    opacity: .9;
    font-size: .9em;
    margin-left: .75em;
    text-transform: uppercase;
    align-items: center;
}
.nav-links a:hover, .nav-links a.active{
    opacity: 1;
    text-decoration: underline;
}
.nav-links .btn{
    background-color: #ffff;
    margin: 0 .75em;
    color: var(--primary-clr);
}

.btn{
   border: none;
   outline: none;
   padding: .5em .7em;
   border-radius: 3px;
   background-color: var(--primary-clr);
   text-transform: uppercase;
   font-weight: bold;
   color: #fff;
}
.btn i{
    margin-right: .5em;
}
.btn.delete{
    color: rgb(212, 1, 1);
    background-color: rgb(250, 199, 199);
}

.btn.add{
    background-color: var(--primary-clr);
    color: #fff;
    padding: .75em 1em;
}

.btn.cancel{
    background-color: rgb(8, 198, 8);
    color: #fff;
    padding: .75em 1em;
}
.msg {
    color: rgb(143, 143,143);
    text-align: center;
}
.boards-container{
    margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 1.5em;
}
.board{
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    border-top: 3px solid red;
    border-radius: 4px;
} 
.board .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}
.head .title{
    font-size: 1.1em;
    font-weight: bold;
}
.fa-trash{
    color: rgb(160, 55, 55);
    margin-left: .74em;
    cursor: pointer;
}

.item{
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin-bottom: 1em;
}
.item .head .priority{
    font-weight: bold;
    color: rgb(122, 118, 118);
}
.badge{
    padding: .3em .75em;
    background-color: red;
    border-radius: 3px;
    margin-left: .5em;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    font-size: .8em;
    letter-spacing: 1px;
}
.fa-sort{
    cursor: move;
}
.item .title{
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(38, 37, 37);
}

.text-right{
    text-align: right;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.modal .content{
    padding: 1.5em;
    background-color: #fff;
    width: 90%;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.content .title{
    font-size: 1.2em;
    font-weight: bold;
}
.form{
    margin: 1em 0;
}
.form label, .form input{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
input{
    padding: .5em;
    border-radius: 3px;
    margin-bottom: .75em;
}
input[type="color"]{
    padding: .1em .5em;
}
label{
    margin-bottom: .3em;
}

.tampilan{
    display: flex;
}

.container{
    padding: 0 10vw;
}
.main{
    margin:  1.5em 0;
}
@media screen and (max-width: 1000px){
    .container{
        padding: 0 6vw;
    }   
}

@media screen and (max-width: 650px){
    .container{
        padding: 0 3vw;
    }   
}